html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.form-inputs {
  padding: 10px;
  margin-bottom: 10;
}
.user-form {
  width: 20%;
  margin: auto;
  height: 80vh;
  margin-top: 20%;
}
